header {
   background-color: $bg1;

   .logo {
      height: 1.5rem;
   }

   .nav-item {
      margin: 0 0.8rem;
   }

   .navbar-expand-md .navbar-nav .nav-link {
      padding: 1.5rem 0;
   }

   .nav-link {
      border-top: 0.25rem transparent solid;
      border-bottom: 0.25rem transparent solid;
      &:hover {
         border-bottom: 0.25rem $primary solid;
      }
   }

   .navbar-light .navbar-nav .nav-link {
      color: $body-color;
   }

   .navbar-light .navbar-nav .nav-link:hover,
   .navbar-light .navbar-nav .nav-link:focus {
      color: $primary;
   }

}
