// Bootstrap
@import './partials/_bs-variables';
@import '~bootstrap/scss/bootstrap';
@import './partials/_bs-overrides';

// partials
@import './partials/_global';
@import './partials/_inputs';
@import './partials/_header';
@import './partials/_jumbotron';
@import './partials/_card';
@import './partials/_footer';

