// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.nav-link-personal {
    color: #fff;
    font-weight: bold;
    font-size: .7rem;
    border-top: 2px solid #fff;
    &:hover {
        border-top: 2px solid #F15E75;
    }
}

.btn-danger {
    background-color: #F15E75;
    border-color: #F15E75;
    &:hover {
        background-color: #F58D9D;
        border-color: #F58D9D;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sec_scroll_img {
    max-width: 1920px;
}

.cont_img_scroll {
    position: relative;
    left: -25%;
}
