// Bootstrap
@import './partials/_bs-variables';
@import '~bootstrap/scss/bootstrap';

// partials
@import './partials/_global';
@import './partials/_header';
@import './partials/_landing-slider';
@import './partials/_jumbotron';
@import './partials/_card';
@import './partials/_show';
@import './partials/_messages';
@import './partials/_promo';
@import './partials/_dashboard';
@import './partials/_searchPage';
@import './partials/_footer';


@import '~@tomtom-international/web-sdk-maps/dist/maps'
