// Bootstrap
@import './partials/_variables';
@import '~bootstrap/scss/bootstrap';
@import './partials/_overrides';

// partials
@import './partials/_inputs';
@import './partials/_header';
@import './partials/_jumbotron';

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

// @media (max-width: 767px) {
//     .carousel-inner .carousel-item > div {
//         display: none;
//     }
//     .carousel-inner .carousel-item > div:first-child {
//         display: block;
//     }
// }

// .carousel-inner .carousel-item.active,
// .carousel-inner .carousel-item-next,
// .carousel-inner .carousel-item-prev {
//     display: flex;
// }

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
