// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Colors
$primary: #F15E75 !default;
$danger: #B3394C !default;
$white: #fff;
$bg1: #f7f7f7;
$bg2: #bbb;
$grey_1: #666;
$input-border: #CACDD1;
$gold: #FFBC39;
$body-color: #3B4249 !default;


// Buttons
$btn-close-width: 0.75rem;


// Modal
$modal-lg: 720px;
$modal-sm: 360px;

// Select
$form-select-bg: $bg1;


