// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Colors
$primary: #F15E75 !default;
$danger: #B3394C !default;
$white: #fff;
$bg1: #f7f7f7;
$bg2: #bbb;
$grey_1: #666;
$input-border: #CACDD1;
$gold: #FFBC39;
$body-color: #3B4249 !default;


// Buttons
$btn-link-color: #fff !default;
$btn-link-hover-color: #fff !default;

/* altri colori
--filtro-card: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
*/


